## this file used when we copy files from machine to docker image, so these will be ignored.
node_modules
build
Dockerfile
docker-compose.yml
dockerfile-dev
package_comments_dependencies
.dockerignore
.gitignore
README.md