.progress {
  height: 4px;
  width: 0%;
  position: fixed;
  background-color: rgb(41, 221, 212);
  top: 4rem;
  left: 0;
  animation: progress linear;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  z-index: 999;
}

@keyframes progress {
  50%{
    background-color: rgb(251, 255, 24);
  }
  to {
    background-color: rgb(28, 184, 80);
    width: 100%;
  }
}
