div.page {
  min-height: 1000px;
}

.nav {
  padding: 3rem;
  background: #dcdcdc5c;
}

.scroll-to-top {
  position: fixed;
  bottom: 8%;
  left: 6%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(62 98 110);
  color: #fff;
  z-index: 1;
}

.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

.cursor-pointer {
  cursor: pointer;
  text-align: center;
}
