.progress {
  height: 5px;
  width: 0%;
  background-color: rgb(0, 238, 255);
  position: fixed;
  top: 4rem;
  left: 0;
  animation: progress linear;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  z-index: 999;
}

@keyframes progress {
  to {
    background-color: rgb(255, 251, 0);
    width: 100%;
  }
}
