* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --opacityHeader: 0;
}

p {
  text-align: left;
}

.year-container {
  display: flex;
  opacity: 1;
}

.fadeOnScroll {
  // -webkit-animation: fadeOnScroll-webkit both 1.7s 1;
  // -moz-animation: fadeOnScroll-moz both 1.7s 1;
  animation: fadeOnScroll both 1.7s 1;
}
@keyframes fadeOnScroll {
  100% {
    opacity: 1;
  }
}

// @-moz-keyframes fadeOnScroll-moz {
//   100% {
//     -moz-opacity: 1;
//   }
// }

// @-webkit-keyframes fadeOnScroll-webkit {
//   100% {
//     opacity: 1;
//   }
// }

a .fa,
a .fas,
a .fab {
  margin-right: 19px;
  font-weight: 500;
  pointer-events: none;
}

.mainMenu {
  position: fixed;
  top: 27vh;
  cursor: pointer;
  width: 12rem;
  left: -12rem;
  border-radius: 10px;
}

.goFromLeft {
  animation: goFromLeft 0.7s both cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes goFromLeft {
  0% {
    left: -12rem;
  }
  100% {
    left: 4rem;
  }
}

.mainMenu li {
  background-color: white;
  border-radius: 10px;
}

.mainMenu a {
  color: #3e626ecc;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainMenu-onFocus {
  color: white !important;
  background: #3e626ecc;
  animation: menuOnFocus;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  border-radius: 10px 10px 10px 10px;
}
@keyframes menuOnFocus {
  0% {
    background-color: #192327cc;
  }
  100% {
    background-color: 3e626ecc;
  }
}

.menu-container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc5c;
}

.content-container {
  color: #000000;
  padding: 3rem 3rem 3rem 3rem;
  margin: 2rem 3rem;
  font-size: small;
  font-family: "Indie Flower", cursive;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}

.item {
  overflow: hidden;
}
.btn-side-nav {
  display: block;
  padding: 15px 20px;
  background-color: #ff6f61;
  color: #fff;
  position: relative;
  text-align: center;
}

.btn-side-nav:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ff6f61;
  right: 15px;
  bottom: -10px;
  z-index: 9;
}

.year-header-after {
  content: " ";
  display: block;
  border-bottom: 1px solid #ececec;
  padding-top: 10vw;
  margin-bottom: 10vw;
}

.year-header-before {
  content: " ";
  display: block;
  padding-top: 80px;
  margin-bottom: 40px;
}

.year-header {
  background-color: #3e626ecc;
  color: white;
  font-size: medium;
  font-family: cursive;
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem;
  opacity: var(--opacityHeader) !important;
}

.onClickChangeColor {
  animation-name: changeColor;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  /* animation-direction: alternate; */
  animation-iteration-count: 1;
  animation-fill-mode: both;
  // animation-play-state: unset;
}

@keyframes changeColor {
  0% {
    // border-radius: 50%;
    background-color: #192327cc;
    opacity: 1;
  }
  100% {
    background-color: #3e626ecc;
    opacity: 1;
  }
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-container {
    padding: 2rem;
    background-color: #dcdcdc5c;
  }
}
