:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid black;
}

.btn--outline {
  background-color: rgb(16, 41, 44);
  color: black;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  border-radius: 300px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 76px 12px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--primary:hover,
.btn--large:hover {
  background: rgb(59, 95, 109);
  color: #ffffff;
  transition: all 0.3s ease-out;
}
