.music-container-s-1 {
  height: 81vh;
  color: white;
  display: flex;
  flex-flow: row wrap;
  background: linear-gradient(179deg, rgb(21 21 21) 25%, rgb(66 113 129) 100%);
  font-family: "Vibur", cursive;
  margin-top: -65px;
}

.notAllowed {
  cursor: not-allowed;
  pointer-events: none;
}

.music-left-s-1 {
  margin-top: 25vh;
  padding: 2rem;
  flex: 1 1 35%;
}

.header-container {
  padding: 2rem;
  margin-left: 1rem;
  animation: headerAni 1s both 1;
}

.header-container > h1 {
  text-align: left;
  line-height: 1;
  color: #e6e6e6;
  animation: neon 0.08s ease-in-out infinite alternate;
  font-size: 2.9rem;
}

.header-container > p {
  margin-top: 3vh;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

@keyframes headerAni {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.music-right-s-1 {
  margin-top: 25vh;
  padding: 2rem;
  flex: 1 1 65%;
  animation: neon 0.08s ease-in-out infinite alternate, iconAni 1s both 1;
}

@keyframes iconAni {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.music-icon-container-s-1 {
  display: flex;
  padding: 2rem;
  font-size: 6rem;
  align-items: center;
  justify-content: center;
}

.svg-container {
  background: url("../../../../photos/wave.svg") no-repeat;
  flex: 1 1 100%;
  width: 100%;
}

.music-container-s-2 {
  height: 130vh;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: row;
}

.music-left-s-2 {
  margin-top: 25vh;
  padding: 2rem;
  flex: 1 1 35%;
}

.project-description {
  border-radius: 15px;
  background: #537c89;
  box-shadow: 0px 50px 60px rgb(0 0 0 / 10%);
  padding: 3rem;
  color: white;
}

.music-right-s-2 {
  margin-top: 25vh;
  padding: 2rem;
  flex: 1 1 65%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  /* padding: 1rem; */
  overflow: hidden;
  width: 33rem;
  height: 27rem;
  border-radius: 15px;
  box-shadow: 0px 50px 60px rgb(0 0 0 / 10%);
}

.flip-card-after-detection {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 33rem;
  height: 27rem;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background: #537c89;
  color: white;
  transform: rotateY(180deg);
}

.result-detections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  overflow-x: auto;
  margin-top: 0px;
}
th {
  padding: 20px 15px;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
td {
  padding: 15px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.noiseCanvas {
  width: 33rem;
  height: 27rem;
}

.camera-detections {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.buttons-container {
  display: flex;
  width: 33rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
}

.button-circle-right {
  outline: none;
  /* text-decoration: none; */
  padding: 2.3rem 0.3rem;
  margin-top: 5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  border-radius: 50%;
  background: #537c89;
  box-shadow: 7px 7px 15px #d9d9d9, -7px -7px 15px #ffffff,
    inset 0 0 0 transparent, inset 0 0 0 transparent;
  font-size: medium;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border-color: transparent;
  height: 9rem;
  width: 9rem;
}

.button-circle-right:hover {
  color: white;
  box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), -7px -7px 15px #ddd,
    inset 9rem 0 4px #3e626ecc, inset 0 0 0 transparent;
  border-color: #3e626ecc;
  border-color: transparent;
}

.button-circle-song {
  height: 9rem;
  width: 9rem;
  outline: none;
  /* text-decoration: none; */
  padding: 2.3rem 0.3rem;
  margin-top: 5rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  border-radius: 50%;
  background: #d4982a;
  box-shadow: 7px 7px 15px #d9d9d9, -7px -7px 15px #ffffff,
    inset 0 0 0 transparent, inset 0 0 0 transparent;
  font-size: medium;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  border-color: transparent;
}

.button-circle-song:hover {
  color: white;
  box-shadow: 7px 7px 15px 6px rgba(55, 55, 55, 0.2), -7px -7px 15px #ddd,
    inset 9rem 0 4px #be8b2b, inset 0 0 0 transparent;
  border-color: #3e626ecc;
  border-color: transparent;
}

@media screen and (max-width: 960px) {
  .header-container > h1 {
    text-align: center;
  }
  .music-container-s-1 {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .music-right-s-1 {
    margin-top: 1vh;
  }
  .music-container-s-2 {
    flex-direction: column;
  }
  .music-right-s-2 {
    margin-top: 0vh;
  }
}
