video {
  object-fit: fill;
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: -1;
  /* src: url('/public/videos/video1.mp4'); */
}

.hero-container {
  /* background: url('images/image-home.jpg') center center/cover no-repeat; */
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: flex-start;
  margin-top: -65px;
}

.hero-container > h1 {
  color: white;
  font-size: 100px;
  margin-top: 300px;
  background: rgba(31, 29, 29, 0.8);
  /* border: 1px solid #fff;
    border-radius: 10px; */
}

.hero-container > p {
  margin-top: 10px;
  color: white;
  font-size: 4vw;
  background: rgba(31, 29, 29, 0.8);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 8px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-wdith: 960px) {
  .hero-container > h1 {
    color: white;
    font-size: 70px;
    margin-top: 140px;
  }
}

@media screen and (max-wdith: 768px) {
  .hero-container > h1 {
    color: white;
    font-size: 50px;
    margin-top: 120px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100;
  }
}
